<div class="container-fluid">
  <div class="row">
    <!--  page info -->
    <div class="col-12 mt-3 px-0 d-flex justify-content-between">
      <div class="page-info">
        <h1>Loans</h1>
        <p>oversee your Loan from this section.</p>
      </div>
      <div style="padding-right: 2.5rem" class="d-flex gap-3">
        <div>
          <div class="free-sort" style="color: green; cursor: pointer">
            <i class="material-icons">workspace_premium</i>
            &nbsp;Free
          </div>
        </div>
        <div>
          <div class="free-sort" style="color: goldenrod; cursor: pointer">
            <i class="material-icons">workspace_premium</i>
            &nbsp; Premium
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex px-0 mt-3 gap-3 flex-wrap">
      <loan-Details-container
        *ngFor="let finance of financeDetails"
        [financeData]="finance"
      />
    </div>
  </div>
</div>
