.page-info > h1 {
  margin-bottom: 0 !important;
  font-weight: 500;
}

.page-info > p {
  color: #a7a7a7;
  font-weight: 500;
  font-size: 0.725rem;
}

.separator-v {
  width: 2px;
  height: 100%;
  margin-top: 0.1rem;
  background-color: #a7a7a740;
  border-radius: 5px;
}

.general-tab-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #a5b4fc39;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.3rem;
  color: #4f46e5;
}

.btn:hover {
  border: 1px solid #4f46e5;
}

.btn:focus {
  color: #4f46e5;
  border: 1px solid #4f46e5;
  background-color: #a5b4fc39;
}

.summary-info {
  margin-top: 1rem !important;
}

.avatar {
  position: relative;
  bottom: 2px;
  display: inline-block;
  width: 5rem;
  white-space: nowrap;
  border-radius: 1000px;
  vertical-align: bottom;
}

.view-debtor-link:hover {
  text-decoration: underline;
}
