.page-info > h1 {
  margin-bottom: 0 !important;
  font-weight: 500;
}

.page-info > p {
  color: #a7a7a7;
  font-weight: 500;
  font-size: 0.725rem;
}

.form-label-icon {
  font-size: 10px !important;
}
